
<h1>All our Flats</h1>

<div class="col-md-4">
  <div class="flat-card">
    <% @flats.each do |flat| %>
      <div class="flat-card-image">
      </div>
      <div class="flat-card-content">
        <div class="flat-card-title"><h4><%= flat.name %></h4></div>
        <p><%= flat.address %></p>
        <div class="flex"><%= flat.number_of_guests %>
        <%= flat.price_per_night %>
        </div>
      </div>
    <div class="flat-card-actions">
    </div>
    <% end %>
  </div>
</div>
